<a href="https://colab.research.google.com/github/marielleina/CS109Challenge/blob/main/CS109_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import re
import numpy as np
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def count_words(count_words_list, counts_dict):
  for word in count_words_list:
    word = word.strip().lower()
    word = re.sub(r'[^\w\s\']', '', word)
    if word not in counts_dict:
        counts_dict[word] = 1
    else:
        counts_dict[word] += 1

In [ ]:
def create_df(word_counts):
  df = pd.DataFrame(list(word_counts.items()), columns=['Word', 'Count'])

  s = df["Count"].sum()
  df["Pi"] = df["Count"] / s

  df["Count times log pi"] = df["Count"] * np.log(df["Pi"])

  df.head()
  return df

In [ ]:
import os
folder_path = '/content/drive/MyDrive/Coursework/CS109/Shakespeare Plays/'

shakes_dfs = []
shakes = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(folder_path, file_name)

        with open(file_path, 'r') as f:
            content = f.read()

        word_list = content.split()
        counts = {}
        count_words(word_list, counts)
        #counts = dict(list(counts.items())[20:])
        df = create_df(counts)

        # Define the name for the final DataFrame
        final_df_name = file_name.replace('.txt', '_df')
        shakes.append(final_df_name)

        # Append the DataFrame to the list
        shakes_dfs.append(df)

        # Print the first few rows of the DataFrame
        print(f"DataFrame '{final_df_name}':")
        print(df.head())
        print()

DataFrame 'sonnets_df':
       Word  Count        Pi  Count times log pi
0   sonnets      2  0.000113          -18.176119
1        to    410  0.023166        -1543.670401
2       the    446  0.025201        -1641.676033
3      only      7  0.000396          -54.847077
4  begetter      1  0.000057           -9.781207

DataFrame 'As You Like It_df':
   Word  Count        Pi  Count times log pi
0    as    166  0.007172         -819.632680
1   you    519  0.022424        -1970.970058
2  like     59  0.002549         -352.347800
3    it    204  0.008814         -965.208468
4    by     89  0.003845         -494.919894

DataFrame 'THE TRAGEDY OF CORIOLANUS_df':
         Word  Count        Pi  Count times log pi
0         the    987  0.033504        -3351.935605
1     tragedy      1  0.000034          -10.290755
2          of    496  0.016837        -2025.752694
3  coriolanus    203  0.006891        -1010.442400
4          by    109  0.003700         -610.335348

DataFrame 'The Tragedie of Cymbeline_df':
        Word  Count        Pi  Count times log pi
0        the    825  0.029264        -2913.413367
1   tragedie      1  0.000035          -10.246794
2         of    515  0.018268        -2061.352713
3  cymbeline     20  0.000709         -145.021225
4      actus      5  0.000177          -43.186778

DataFrame 'HAMLET, PRINCE OF DENMARK_df':
            Word  Count        Pi  Count times log pi
0  shakespeare's     18  0.000600         -133.539256
1        tragedy      6  0.000200          -51.104759
2             of    729  0.024294        -2710.090713
3         hamlet    100  0.003332         -570.404911
4         prince      4  0.000133          -35.691700

DataFrame 'The First Part of Henry the Fourth_df':
    Word  Count        Pi  Count times log pi
0    the    858  0.034004        -2901.124692
1  first      9  0.000357          -71.447794
2   part     18  0.000713         -130.418938
3     of    641  0.025404        -2354.289704
4  henry      5  0.000198          -42.632152

DataFrame 'The Life of Henry the Fifth_df':
    Word  Count        Pi  Count times log pi
0    the   1033  0.038479        -3365.152082
1   life     16  0.000596         -118.804534
2     of    699  0.026037        -2550.106738
3  henry      7  0.000261          -57.763734
4   fift      2  0.000074          -19.009450

DataFrame 'The firſt Part of Henry the Sixt_df':
    Word  Count        Pi  Count times log pi
0    the    693  0.031325        -2400.096748
1  firſt      1  0.000045          -10.004373
2   part     10  0.000452          -77.017880
3     of    549  0.024816        -2029.254771
4  henry     35  0.001582         -225.715875

DataFrame 'The second Part of Henry the Sixt_df':
     Word  Count        Pi  Count times log pi
0     the    944  0.036128        -3134.717126
1  second      4  0.000153          -35.138027
2    part      9  0.000344          -71.762189
3      of    538  0.020590        -2089.023080
4   henry     37  0.001416         -242.715677

DataFrame 'The third Part of Henry the Sixt_df':
    Word  Count        Pi  Count times log pi
0    the    804  0.032166        -2763.212779
1  third      2  0.000080          -18.866568
2   part      7  0.000280          -57.263647
3     of    408  0.016323        -1678.986875
4  henry     93  0.003721         -520.226338

DataFrame 'The Famous History of the Life of King Henry the Eight_df':
      Word  Count        Pi  Count times log pi
0      the    869  0.034211        -2933.049406
1   famous      3  0.000118          -27.131795
2  history      1  0.000039          -10.142544
3       of    549  0.021613        -2105.110514
4     life     27  0.001063         -184.861088

DataFrame 'The Tragedie of Julius Caesar_df':
       Word  Count        Pi  Count times log pi
0       the    578  0.028264        -2061.242961
1  tragedie      1  0.000049           -9.925738
2        of    353  0.017262        -1432.922347
3    julius      1  0.000049           -9.925738
4    caesar    189  0.009242         -885.274327

DataFrame 'The Tragedie of King Lear_df':
       Word  Count        Pi  Count times log pi
0       the    728  0.029581        -2563.001965
1  tragedie      1  0.000041          -10.110908
2        of    426  0.017310        -1728.055708
3      king     58  0.002357         -350.926978
4      lear    199  0.008086         -958.703060

DataFrame 'LOVE'S LABOUR'S LOST_df':
       Word  Count        Pi  Count times log pi
0      1595      1  0.000044          -10.038237
1    love's     10  0.000437          -77.356519
2  labour's      1  0.000044          -10.038237
3      lost      4  0.000175          -34.607770
4        by    121  0.005287         -634.336015

DataFrame 'The Tragedie of Macbeth_df':
       Word  Count        Pi  Count times log pi
0       the    646  0.036429        -2139.799473
1  tragedie      1  0.000056           -9.783183
2        of    337  0.019004        -1335.564585
3   macbeth     61  0.003440         -346.010832
4     actus      5  0.000282          -40.868723

DataFrame 'MEASURE FOR MEASURE_df':
        Word  Count        Pi  Count times log pi
0    measure      7  0.000221          -58.932872
1        for    251  0.007911        -1214.699157
2   dramatis      2  0.000063          -19.343489
3   personæ1      1  0.000032          -10.364892
4  vincentio      1  0.000032          -10.364892

DataFrame 'THE MERCHANT OF VENICE_df':
       Word  Count        Pi  Count times log pi
0       the    840  0.037500        -2758.068051
1  merchant      8  0.000357          -63.498998
2        of    465  0.020759        -1801.772157
3    venice     40  0.001786         -253.117471
4        by    105  0.004687         -563.099868

DataFrame 'THE MERRY WIVES OF WINDSOR_df':
      Word  Count        Pi  Count times log pi
0      the   1049  0.024415        -3894.487793
1    merry     12  0.000279          -98.199093
2    wives     13  0.000303         -105.341795
3       of    647  0.015058        -2714.694304
4  windsor     25  0.000582         -186.232214

DataFrame 'A MIDSUMMER NIGHT’S DREAM_df':
        Word  Count        Pi  Count times log pi
0          a    275  0.015911        -1138.710485
1  midsummer      1  0.000058           -9.757536
2     nights      5  0.000289          -40.740493
3      dream     15  0.000868         -105.742294
4         by     71  0.004108         -390.134820

DataFrame 'MUCH ADO ABOUT NOTHING_df':
      Word  Count        Pi  Count times log pi
0     much     36  0.001589         -232.012565
1      ado      1  0.000044          -10.028312
2    about     18  0.000794         -128.482932
3  nothing     21  0.000927         -146.659589
4       by     98  0.004325         -533.447803

DataFrame 'The Tragedie of Othello, the Moore of Venice_df':
       Word  Count        Pi  Count times log pi
0       the    698  0.025487        -2561.384028
1  tragedie      1  0.000037          -10.217824
2        of    446  0.016285        -1836.407130
3   othello     51  0.001862         -320.585903
4     moore     57  0.002081         -351.962030

DataFrame 'PERICLES, PRINCE OF TYRE_df':
       Word  Count        Pi  Count times log pi
0  pericles    181  0.009154         -849.528033
1    prince     25  0.001264         -166.828656
2        of    335  0.016943        -1366.093667
3      tyre     34  0.001720         -216.432493
4        by    103  0.005209         -541.501188

DataFrame 'The life and death of King Richard the Second_df':
    Word  Count        Pi  Count times log pi
0    the    675  0.030154        -2363.467734
1   life     30  0.001340         -198.448470
2    and    702  0.031360        -2430.473503
3  death     41  0.001832         -258.405546
4     of    505  0.022560        -1914.751910

DataFrame 'THE TRAGEDY OF ROMEO AND JULIET_df':
      Word  Count        Pi  Count times log pi
0      the    687  0.026466        -2495.115873
1  tragedy      1  0.000039          -10.164235
2       of    395  0.015217        -1653.212998
3    romeo    297  0.011442        -1327.739387
4      and    733  0.028238        -2614.676548

DataFrame 'THE TAMING OF THE SHREW_df':
     Word  Count        Pi  Count times log pi
0     the    515  0.023124        -1939.939987
1  taming      1  0.000045          -10.011041
2      of    250  0.011225        -1122.394936
3   shrew     11  0.000494          -83.744599
4      by     70  0.003143         -403.378179

DataFrame 'THE TEMPEST_df':
        Word  Count        Pi  Count times log pi
0        the    533  0.024716        -1972.262823
1    tempest      5  0.000232          -41.846945
2   dramatis      2  0.000093          -18.571359
3  personae1      1  0.000046           -9.978827
4     alonso      7  0.000325          -56.230417

DataFrame 'The Life of Timon of Athens_df':
     Word  Count        Pi  Count times log pi
0     the    452  0.023650        -1692.464058
1    life     14  0.000733         -101.066201
2      of    324  0.016953        -1321.054328
3   timon    103  0.005389         -538.004298
4  athens     33  0.001727         -209.931616

DataFrame 'The Tragedie of Titus Andronicus_df':
         Word  Count        Pi  Count times log pi
0         the    640  0.030286        -2238.128372
1    tragedie      2  0.000095          -18.530793
2          of    317  0.015001        -1331.286509
3       titus     70  0.003313         -399.703396
4  andronicus     54  0.002555         -322.356224

DataFrame 'TROILUS AND CRESSIDA_df':
       Word  Count        Pi  Count times log pi
0   troilus    242  0.008754        -1146.668262
1       and    799  0.028901        -2831.556433
2  cressida    175  0.006330         -885.928812
3        by    105  0.003798         -585.193978
4   william      1  0.000036          -10.227236

DataFrame 'TWELFTH NIGHT: OR, WHAT YOU WILL_df':
      Word  Count        Pi  Count times log pi
0  twelfth      2  0.000094          -18.552163
1    night     13  0.000609          -96.255629
2       or     51  0.002388         -307.907545
3     what    126  0.005899         -646.751268
4      you    446  0.020881        -1725.533647

DataFrame 'THE TWO GENTLEMEN OF VERONA_df':
        Word  Count        Pi  Count times log pi
0        the    431  0.019664        -1693.379780
1        two     10  0.000456          -76.924784
2  gentlemen     14  0.000639         -102.984086
3         of    241  0.010996        -1086.974242
4     verona      6  0.000274          -49.219824

DataFrame 'THE TWO NOBLE KINSMEN_df':
      Word  Count        Pi  Count times log pi
0      the    714  0.027575        -2563.863315
1      two     45  0.001738         -285.977945
2    noble     39  0.001506         -253.428485
3  kinsmen      6  0.000232          -50.219811
4       mr      2  0.000077          -18.937162

DataFrame 'THE WINTER’S TALE_df':
      Word  Count        Pi  Count times log pi
0      the    816  0.031214        -2828.977459
1  winters      3  0.000115          -27.218059
2     tale      6  0.000230          -50.277234
3       by    127  0.004858         -676.543149
4  william      1  0.000038          -10.171298

DataFrame 'A LOVER’S COMPLAINT_df':
        Word  Count        Pi  Count times log pi
0          a     36  0.014035         -153.583013
1     lovers      1  0.000390           -7.849714
2  complaint      1  0.000390           -7.849714
3         by     17  0.006628          -85.280507
4    william      1  0.000390           -7.849714

DataFrame 'THE PASSIONATE PILGRIM_df':
         Word  Count        Pi  Count times log pi
0         the     94  0.029927         -329.846161
1  passionate      1  0.000318           -8.052296
2     pilgrim      1  0.000318           -8.052296
3          by     14  0.004457          -75.785348
4     william      1  0.000318           -8.052296

DataFrame 'THE PHOENIX AND THE TURTLE_df':
      Word  Count        Pi  Count times log pi
0      the     24  0.066482          -65.059779
1  phoenix      5  0.013850          -21.397200
2      and     13  0.036011          -43.211072
3   turtle      4  0.011080          -18.010334
4       by      1  0.002770           -5.888878

DataFrame 'THE RAPE OF LUCRECE_df':
      Word  Count        Pi  Count times log pi
0      the    543  0.036128        -1803.136930
1     rape      3  0.000200          -25.557574
2       of    262  0.017432        -1060.958252
3  lucrece     38  0.002528         -227.248258
4       by     94  0.006254         -477.003818

DataFrame ' VENUS AND ADONIS_df':
      Word  Count        Pi  Count times log pi
0    venus      9  0.000883          -63.290087
1      and    331  0.032473        -1134.448916
2   adonis     18  0.001766         -114.103525
3       by     51  0.005003         -270.179174
4  william      2  0.000196          -17.072619

38
38

In [ ]:
folder_path = '/content/drive/MyDrive/Coursework/CS109/Bacon/'

bacon_dfs = []
bacon = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(folder_path, file_name)

        with open(file_path, 'r') as f:
            content = f.read()

        word_list = content.split()
        counts = {}
        count_words(word_list, counts)
        #counts = dict(list(counts.items())[20:])
        df = create_df(counts)

        # Define the name for the final DataFrame
        final_df_name = file_name.replace('.txt', '_df')
        bacon.append(final_df_name)

        # Append the DataFrame to the list
        bacon_dfs.append(df)

        # Print the first few rows of the DataFrame
        print(f"DataFrame '{final_df_name}':")
        print(df.head())
        print()

DataFrame 'Bacon's Essays_df':
     Word  Count        Pi  Count times log pi
0  bacons      7  0.000074          -66.570003
1  essays     12  0.000127         -107.652047
2     and   4077  0.043162       -12813.170597
3  wisdom     30  0.000318         -241.641396
4      of   4099  0.043395       -12860.252812

DataFrame 'THE NEW ATLANTIS_df':
       Word  Count        Pi  Count times log pi
0       the    784  0.051062        -2332.182271
1       new     15  0.000977         -103.966217
2  atlantis      6  0.000391          -47.084231
3        by     87  0.005666         -450.070417
4       sir      1  0.000065           -9.639131

DataFrame 'NOVUM ORGANUM_df':
          Word  Count        Pi  Count times log pi
0        novum      3  0.000033          -30.968468
1      organum      2  0.000022          -21.456576
2           or   1078  0.011813        -4784.780863
3         true     72  0.000789         -514.423358
4  suggestions      2  0.000022          -21.456576

DataFrame 'THE ADVANCEMENT OF LEARNING_df':
          Word  Count        Pi  Count times log pi
0          the   5215  0.062261       -14479.011933
1  advancement     19  0.000227         -159.434165
2           of   4452  0.053152       -13064.848697
3     learning    192  0.002292        -1167.017371
4           by    522  0.006232        -2650.738580

DataFrame 'OF FRIENDSHIP_df':
         Word  Count        Pi  Count times log pi
0          of    111  0.041698         -352.680611
1  friendship     23  0.008640         -109.280792
2     francis      1  0.000376           -7.886833
3       bacon      1  0.000376           -7.886833
4    sidenote     18  0.006762          -89.936302

DataFrame 'PROOEMIUM_df':
         Word  Count        Pi  Count times log pi
0   prooemium      1  0.001217           -6.711740
1     epistle      1  0.001217           -6.711740
2  dedicatory      1  0.001217           -6.711740
3     preface      1  0.001217           -6.711740
4         and     42  0.051095         -124.910973

DataFrame '  OF GARDENS_df':
      Word  Count        Pi  Count times log pi
0       of    104  0.043956         -324.954775
1  gardens      5  0.002113          -30.797591
2       an      3  0.001268          -20.011031
3    essay      2  0.000845          -14.151618
4       by     15  0.006340          -75.913588

In [ ]:


vere = []
vere_dfs = []

In [ ]:
echo_verses = """
Sitting alone upon my thought in melancholy mood,
In sight of sea, and at my back an ancient hoary wood,
I saw a fair young lady come, her secret fears to wail,
Clad all in colour of a nun, and covered with a veil;
Yet (for the day was calm and clear) I might discern her face,
As one might see a damask rose hid under crystal glass.

Three times, with her soft hand, full hard on her left side she knocks,
And sigh’d so sore as might have mov’d some pity in the rocks;
From sighs and shedding amber tears into sweet song she brake,
When thus the echo answered her to every word she spake:

Oh heavens ! who was the first that bred in me this fever ? Vere (Ver.)
Who was the first that gave the wound whose fear I wear for ever ? Vere.
What tyrant, Cupid, to my harm usurps thy golden quiver ? Vere.
What sight first caught this heart and can from bondage it deliver ? Vere.

Yet who doth most adore this sight, oh hollow caves tell true ? You.
What nymph deserves his liking best, yet doth in sorrow rue ? You.
What makes him not reward good will with some reward or ruth ? Youth.
What makes him show besides his birth, such pride and such untruth ? Youth.

May I his favour match with love, if he my love will try? Ay.
May I requite his birth with faith ? Then faithful will I die ? Ay.
And I, that knew this lady well,
Said, Lord how great a miracle,
To her how Echo told the truth,
As true as Phoebus’ oracle.
The Earle of Oxforde.
"""
vere_word_list = echo_verses.split()
vere_counts = {}

count_words(vere_word_list, vere_counts)

vere_counts = dict(list(vere_counts.items())[20:])

vere_echo_df = create_df(vere_counts)

vere.append("Echo Verses")

# Append the DataFrame to the list
vere_dfs.append(vere_echo_df)

# Print the first few rows of the DataFrame
print(f"DataFrame '{final_df_name}':")
print(df.head())
print()

DataFrame '  OF GARDENS_df':
      Word  Count        Pi  Count times log pi
0       of    104  0.043956         -324.954775
1  gardens      5  0.002113          -30.797591
2       an      3  0.001268          -20.011031
3    essay      2  0.000845          -14.151618
4       by     15  0.006340          -75.913588

In [ ]:
love_thy_choice = """
Who taught thee first to sigh, alas, my heart ?
Who taught thy tongue the woeful words of plaint ?
Who filled your eyes with tears of bitter smart ?
Who gave thee grief and made thy joys to faint ?
Who first did paint with colours pale thy face ?
Who first did break thy sleeps of quiet rest ?
Above the rest in court who gave thee grace ?
Who made thee strive in honour to be best ?
In constant truth to bide so firm and sure,
To scorn the world regarding but thy friends ?
With patient mind each passion to endure,
In one desire to settle to the end ?
Love then thy choice wherein such choice thou bind,
As nought but death may ever change thy mind.
Earle of Oxenforde.
"""
vere_word_list = love_thy_choice.split()
vere_counts = {}

count_words(vere_word_list, vere_counts)

vere_counts = dict(list(vere_counts.items())[20:])

vere_love_df = create_df(vere_counts)

vere.append("Love Thy Choice")

# Append the DataFrame to the list
vere_dfs.append(vere_love_df)

# Print the first few rows of the DataFrame
print(f"DataFrame '{final_df_name}':")
print(df.head())
print()

DataFrame '  OF GARDENS_df':
      Word  Count        Pi  Count times log pi
0       of    104  0.043956         -324.954775
1  gardens      5  0.002113          -30.797591
2       an      3  0.001268          -20.011031
3    essay      2  0.000845          -14.151618
4       by     15  0.006340          -75.913588

In [ ]:
cunning_express = """
What cunning can express
The favour of her face ?
To whom in this distress,
I do appeal for grace.
A thousand Cupids fly
About her gentle eye.

From which each throws a dart,
That kindleth soft sweet fire:
Within my sighing heart,
Possessed by Desire.
No sweeter life I try,
Than in her love to die.

The lily in the field,
That glories in his white,
For pureness now must yield,
And render up his right;
Heaven pictured in her face,
Doth promise joy and grace.

Fair Cynthia’s silver light,
That beats on running streams,
Compares not with her white,
Whose hairs are all sun-beams;
So bright my Nymph doth shine,
As day unto my eyne.

With this there is a red,
Exceeds the Damask-Rose;
Which in her cheeks is spread,
Whence every favour grows.
In sky there is no star,
But she surmounts it far.

When Phoebus from the bed
Of Thetis doth arise,
The morning blushing red,
In fair carnation wise;
He shows in my Nymph’s face,
As Queen of every grace.

This pleasant lily white,
This taint of roseate red;
This Cynthia’s silver light,
This sweet fair Dea spread;
These sunbeams in mine eye,
These beauties make me die.
"""
vere_word_list = cunning_express.split()
vere_counts = {}

count_words(vere_word_list, vere_counts)

vere_counts = dict(list(vere_counts.items())[20:])

vere_cunning_df = create_df(vere_counts)

vere.append("Cunning Express")

# Append the DataFrame to the list
vere_dfs.append(vere_cunning_df)

# Print the first few rows of the DataFrame
print(f"DataFrame '{final_df_name}':")
print(df.head())
print()

DataFrame '  OF GARDENS_df':
      Word  Count        Pi  Count times log pi
0       of    104  0.043956         -324.954775
1  gardens      5  0.002113          -30.797591
2       an      3  0.001268          -20.011031
3    essay      2  0.000845          -14.151618
4       by     15  0.006340          -75.913588

In [ ]:
meeting_with_desire = """
The lively lark stretched forth her wing
The messenger of Morning bright;
And with her cheerful voice did sing
The Day’s approach, discharging Night;
When that Aurora blushing red,
Descried the guilt of Thetis’ bed.

I went abroad to take the air,
And in the meads I met a knight,
Clad in carnation colour fair;
I did salute this gentle wight:
Of him I did his name inquire,
He sighed and said it was Desire.

Desire I did desire to stay;
And while with him I craved talk,
The courteous knight said me no nay,
But hand in hand with me did walk;
Then of Desire I ask’d again,
What things did please and what did pain.

He smiled and thus he answered than [then]:
Desire can have no greater pain,
Than for to
"""
vere_word_list = meeting_with_desire.split()
vere_counts = {}

count_words(vere_word_list, vere_counts)

vere_counts = dict(list(vere_counts.items())[20:])

vere_desire_df = create_df(vere_counts)

vere.append("Meeting With Desire")

# Append the DataFrame to the list
vere_dfs.append(vere_desire_df)

# Print the first few rows of the DataFrame
print(f"DataFrame '{final_df_name}':")
print(df.head())
print()

DataFrame '  OF GARDENS_df':
      Word  Count        Pi  Count times log pi
0       of    104  0.043956         -324.954775
1  gardens      5  0.002113          -30.797591
2       an      3  0.001268          -20.011031
3    essay      2  0.000845          -14.151618
4       by     15  0.006340          -75.913588

In [ ]:
folder_path = '/content/drive/MyDrive/Coursework/CS109/Marlowe/'
marlowe=[]
marlowe_dfs = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(folder_path, file_name)

        with open(file_path, 'r') as f:
            content = f.read()

        word_list = content.split()
        counts = {}
        count_words(word_list, counts)
        #counts = dict(list(counts.items())[20:])
        df = create_df(counts)

        # Define the name for the final DataFrame
        final_df_name = file_name.replace('.txt', '_df')
        marlowe.append(final_df_name)

        # Append the DataFrame to the list
        marlowe_dfs.append(df)

        # Print the first few rows of the DataFrame
        print(f"DataFrame '{final_df_name}':")
        print(df.head())
        print()

DataFrame 'THE TRAGICAL HISTORY OF DOCTOR FAUSTUS_df':
       Word  Count        Pi  Count times log pi
0       the    837  0.042645        -2640.598885
1  tragical      2  0.000102          -18.383029
2   history     33  0.001681         -210.809078
3        of    517  0.026341        -1880.131803
4    doctor     68  0.003465         -385.230455

DataFrame 'THE JEW OF MALTA_df':
    Word  Count        Pi  Count times log pi
0    the    883  0.034301        -2977.999463
1    jew     81  0.003146         -466.678978
2     of    492  0.019112        -1947.060140
3  malta     53  0.002059         -327.838184
4     by    114  0.004428         -617.848032

DataFrame 'TAMBURLAINE THE GREAT,1_df':
          Word  Count        Pi  Count times log pi
0  tamburlaine    238  0.009844        -1099.761113
1          the   1175  0.048602        -3553.308403
2        great     41  0.001696         -261.561288
3           in    362  0.014974        -1520.932673
4          two     11  0.000455          -84.647425

DataFrame 'EDWARD THE SECOND_df':
          Word  Count        Pi  Count times log pi
0       edward     81  0.003507         -457.897225
1          the    752  0.032557        -2575.423272
2       second      7  0.000303          -56.711138
3           by     68  0.002944         -396.303565
4  christopher      1  0.000043          -10.047501

DataFrame 'TAMBURLAINE THE GREAT--THE SECOND PART_df':
          Word  Count        Pi  Count times log pi
0  tamburlaine    217  0.008542        -1033.519911
1          the   1390  0.054716        -4038.788024
2     greatthe      1  0.000039          -10.142662
3       second     16  0.000630         -117.921171
4         part     48  0.001889         -301.030124

DataFrame 'MASSACRE AT PARIS_df':
          Word  Count        Pi  Count times log pi
0     massacre     11  0.000968          -76.347286
1           at     29  0.002551         -173.166593
2        paris     12  0.001056          -82.243812
3           by     34  0.002991         -197.614703
4  christopher      1  0.000088           -9.338558

DataFrame 'Hero and Leander_df':
          Word  Count        Pi  Count times log pi
0         hero     25  0.003948         -138.366338
1          and    277  0.043739         -866.874777
2      leander     25  0.003948         -138.366338
3           by     28  0.004421         -151.797095
4  christopher      1  0.000158           -8.753529

DataFrame 'The Tragedy of  Dido Queen of Carthage_df':
      Word  Count        Pi  Count times log pi
0      the    415  0.028014        -1483.645517
1  tragedy      4  0.000270          -32.868134
2       of    242  0.016336         -995.682436
3     dido     11  0.000743          -79.259760
4    queen      5  0.000338          -39.969450

In [ ]:
import os
import pandas as pd
import math

def combo(dfs):
  # Concatenate all DataFrames into a single DataFrame
  combined_df = pd.concat(dfs)

  # Group by the 'Word' column and aggregate counts
  grouped_df = combined_df.groupby('Word', as_index=False).agg({'Count': 'sum'})

  # Recompute Pi and Count times log pi
  total_count = grouped_df['Count'].sum()
  grouped_df['Pi'] = grouped_df['Count'] / total_count
  # grouped_df['Count times log pi'] = grouped_df['Count'] * grouped_df['Pi'].apply(lambda x: -1 * (0 if x == 0 else math.log(x)))

  # Sort the DataFrame by 'Word'
  marlowe_agg = grouped_df.sort_values(by='Word')

  # Display the resulting DataFrame
  #print(marlowe_agg)
  #print(marlowe)

  return marlowe_agg

sum of count of words times log of their probabilites for author one - sum of count of words times log of their probabilites for author two

Now we compare each of the authors: shakespeare, marlowe, vere, and bacon

In [ ]:
import random

def generate_random_numbers(num_values, max_value):
    random_numbers = []
    for _ in range(num_values):
        random_numbers.append(random.randint(0, max_value))
    return random_numbers

# # Example usage
# num_values = 10
# min_value = 1
# max_value = 100
# random_numbers = generate_random_numbers(num_values, min_value, max_value)
# print("Generated random numbers:", random_numbers)

In [ ]:
# Define the function to calculate the sum of "Count times log pi"
def calc_sum_count_times_log_pi(df):
    return df["Count times log pi"].sum()

In [ ]:
avg_sh_b = 0
avg_sh_m = 0
avg_sh_v = 0

for i in range(10):
  sh_len = len(shakes)
  # m_len = len(marlowe)
  # v_len = len(vere)
  # b_len = len(bacon)
  # print(sh_len, m_len, v_len, b_len, len(shakes_dfs), len(marlowe_dfs), len(vere_dfs), len(bacon_dfs))
  sh_ind = generate_random_numbers(sh_len//2, sh_len-1)
  # m_ind = generate_random_numbers(m_len//2, m_len-1)
  # v_ind = generate_random_numbers(v_len//2, v_len-1)
  # b_ind = generate_random_numbers(b_len//2, b_len-1)
  # print(sh_ind, m_ind, v_ind, b_ind)
  sh_dfs = [shakes_dfs[idx] for idx in sh_ind]
  # m_dfs = [marlowe_dfs[idx] for idx in m_ind]
  # v_dfs = [vere_dfs[idx] for idx in v_ind]
  # b_dfs = [bacon_dfs[idx] for idx in b_ind]
  sh_other_dfs = [shakes_dfs[idx] for idx in range(len(shakes)) if idx not in  sh_ind]
  # print(sh_dfs)
  sh_combined = combo(sh_dfs)
  sh_other_combined = combo(sh_other_dfs)
  m_combined = combo(marlowe_dfs)
  v_combined = combo(vere_dfs)
  b_combined = combo(bacon_dfs)
  # print(sh_other_dfs)
  # print(sh_combined['Pi'])
  sh_combined['Count times log pi'] = sh_other_combined['Count'] * sh_combined['Pi'].apply(lambda x: -1 * (0 if x == 0 else math.log(x)))
  m_combined['Count times log pi'] = sh_other_combined['Count'] * m_combined['Pi'].apply(lambda x: -1 * (0 if x == 0 else math.log(x)))
  v_combined['Count times log pi'] = sh_other_combined['Count'] * v_combined['Pi'].apply(lambda x: -1 * (0 if x == 0 else math.log(x)))
  b_combined['Count times log pi'] = sh_other_combined['Count'] * b_combined['Pi'].apply(lambda x: -1 * (0 if x == 0 else math.log(x)))

  # Calculate the sum of "Count times log pi" for each combination
  shakespeare_sum = calc_sum_count_times_log_pi(sh_combined)
  # shakespeare_sum2 = calc_sum_count_times_log_pi(shakes2_combined)
  bacon_sum = calc_sum_count_times_log_pi(b_combined)
  marlowe_sum = calc_sum_count_times_log_pi(m_combined)
  vere_sum = calc_sum_count_times_log_pi(v_combined)

  sh_b = shakespeare_sum / bacon_sum
  sh_m = shakespeare_sum / marlowe_sum
  sh_v = shakespeare_sum / vere_sum

  print(f"For iteration {i + 1}:")
  print(f"Shakespeare vs. Authors:")
  print(f"Shakespeare sum / Bacon sum: {sh_b}")
  print(f"Shakespeare sum / Marlowe sum: {sh_m}")
  print(f"Shakespeare sum / Vere sum: {sh_v}")
  print()

  avg_sh_b += sh_b
  avg_sh_m += sh_m
  avg_sh_v += sh_v


avg_sh_b = avg_sh_b / 10
avg_sh_m = avg_sh_m / 10
avg_sh_v = avg_sh_v / 10

print("Average Likelihood Shakespeare wrote those plays rather than Bacon: ", avg_sh_b)
print("Average Likelihood Shakespeare wrote those plays rather than Marlowe: ", avg_sh_m)
print("Average Likelihood Shakespeare wrote those plays rather than Vere: ", avg_sh_v)

For iteration 1:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.388538362045372
Shakespeare sum / Marlowe sum: 2.18088565611058
Shakespeare sum / Vere sum: 477.37809194718744

For iteration 2:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.1326126011112374
Shakespeare sum / Marlowe sum: 2.019534579247967
Shakespeare sum / Vere sum: 346.18140316335035

For iteration 3:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.534369336938987
Shakespeare sum / Marlowe sum: 2.3078025178691592
Shakespeare sum / Vere sum: 430.8150583146062

For iteration 4:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.0917577086407297
Shakespeare sum / Marlowe sum: 2.207608515960279
Shakespeare sum / Vere sum: 285.9119267777841

For iteration 5:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.1533007895963268
Shakespeare sum / Marlowe sum: 2.0738200420989727
Shakespeare sum / Vere sum: 298.2483558302091

For iteration 6:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.151751143706641
Shakespeare sum / Marlowe sum: 2.1616996354567406
Shakespeare sum / Vere sum: 293.3943799005058

For iteration 7:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.4108272133776345
Shakespeare sum / Marlowe sum: 2.2127138999534037
Shakespeare sum / Vere sum: 409.32455364261386

For iteration 8:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.195642873936685
Shakespeare sum / Marlowe sum: 2.144688843288557
Shakespeare sum / Vere sum: 345.7824246991775

For iteration 9:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.0536738840261086
Shakespeare sum / Marlowe sum: 1.9786953383189738
Shakespeare sum / Vere sum: 340.53320487069936

For iteration 10:
Shakespeare vs. Authors:
Shakespeare sum / Bacon sum: 1.40381896552868
Shakespeare sum / Marlowe sum: 2.161119055071014
Shakespeare sum / Vere sum: 462.0208606366617

Average Likelihood Shakespeare wrote those plays rather than Bacon:  1.2516292878908402
Average Likelihood Shakespeare wrote those plays rather than Marlowe:  2.1448568083375648
Average Likelihood Shakespeare wrote those plays rather than Vere:  368.95902597827956